bin/Debug/netcoreapp2.2/appsettings.Development.json
bin/Debug/netcoreapp2.2/appsettings.json
bin/Debug/netcoreapp2.2/DexaApps.deps.json
bin/Debug/netcoreapp2.2/DexaApps.dll
bin/Debug/netcoreapp2.2/DexaApps.pdb
bin/Debug/netcoreapp2.2/DexaApps.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/DexaApps.runtimeconfig.json
bin/Debug/netcoreapp2.2/DexaApps.Views.dll
bin/Debug/netcoreapp2.2/DexaApps.Views.pdb
bin/Debug/netcoreapp2.2/Properties/launchSettings.json
obj/DexaApps.csproj.nuget.cache
obj/DexaApps.csproj.nuget.dgspec.json
obj/DexaApps.csproj.nuget.g.props
obj/DexaApps.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/DexaApps.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/DexaApps.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/DexaApps.assets.cache
obj/Debug/netcoreapp2.2/DexaApps.csproj.CopyComplete
obj/Debug/netcoreapp2.2/DexaApps.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/DexaApps.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/DexaApps.dll
obj/Debug/netcoreapp2.2/DexaApps.pdb
obj/Debug/netcoreapp2.2/DexaApps.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.2/DexaApps.RazorAssemblyInfo.cs
obj/Debug/netcoreapp2.2/DexaApps.RazorCoreGenerate.cache
obj/Debug/netcoreapp2.2/DexaApps.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.2/DexaApps.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp2.2/DexaApps.TagHelpers.input.cache
obj/Debug/netcoreapp2.2/DexaApps.TagHelpers.output.cache
obj/Debug/netcoreapp2.2/DexaApps.Views.dll
obj/Debug/netcoreapp2.2/DexaApps.Views.pdb
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/AccessDenied.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Lockout.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Login.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Logout.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Register.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/_Layout.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/ChangePassword.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/Index.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Customer/Create.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Customer/Index.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Outlet/Create.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Outlet/Delete.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Outlet/Details.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Outlet/Edit.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Outlet/Index.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Test/Create.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Test/Delete.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Test/Details.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Test/Edit.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Test/Index.cshtml.g.cs
