bin/Debug/netcoreapp2.2/appsettings.Development.json
bin/Debug/netcoreapp2.2/appsettings.json
bin/Debug/netcoreapp2.2/DexaApps.deps.json
bin/Debug/netcoreapp2.2/DexaApps.dll
bin/Debug/netcoreapp2.2/DexaApps.pdb
bin/Debug/netcoreapp2.2/DexaApps.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/DexaApps.runtimeconfig.json
bin/Debug/netcoreapp2.2/DexaApps.Views.dll
bin/Debug/netcoreapp2.2/DexaApps.Views.pdb
bin/Debug/netcoreapp2.2/Properties/launchSettings.json
obj/DexaApps.csproj.nuget.cache
obj/DexaApps.csproj.nuget.dgspec.json
obj/DexaApps.csproj.nuget.g.props
obj/DexaApps.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/DexaApps.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/DexaApps.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/DexaApps.assets.cache
obj/Debug/netcoreapp2.2/DexaApps.csproj.CopyComplete
obj/Debug/netcoreapp2.2/DexaApps.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/DexaApps.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/DexaApps.dll
obj/Debug/netcoreapp2.2/DexaApps.pdb
obj/Debug/netcoreapp2.2/DexaApps.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.2/DexaApps.RazorAssemblyInfo.cs
obj/Debug/netcoreapp2.2/DexaApps.RazorCoreGenerate.cache
obj/Debug/netcoreapp2.2/DexaApps.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.2/DexaApps.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp2.2/DexaApps.TagHelpers.input.cache
obj/Debug/netcoreapp2.2/DexaApps.TagHelpers.output.cache
obj/Debug/netcoreapp2.2/DexaApps.Views.dll
obj/Debug/netcoreapp2.2/DexaApps.Views.pdb
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/AccessDenied.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Lockout.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Login.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Logout.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Register.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/_Layout.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/ChangePassword.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/Index.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Customer/Create.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Customer/Index.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Outlet/Create.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Outlet/Delete.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Outlet/Details.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Outlet/Edit.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Outlet/Index.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Test/Create.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Test/Delete.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Test/Details.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Test/Edit.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Test/Index.cshtml.g.cs
.vs/DexaApps/config/applicationhost.config
.vs/DexaApps/v16/.suo
.vs/DexaApps/v16/Server/sqlite3/db.lock
.vs/DexaApps/v16/Server/sqlite3/storage.ide
.vs/DexaApps/v16/Server/sqlite3/storage.ide-shm
.vs/DexaApps/v16/Server/sqlite3/storage.ide-wal
obj/Debug/netcoreapp2.2/Razor/Views/Customer/_ModalCreate.cshtml.g.cs
.vs/DexaApps/DesignTimeBuild/.dtbcache
bin/Release/netcoreapp2.2/appsettings.Development.json
bin/Release/netcoreapp2.2/appsettings.json
bin/Release/netcoreapp2.2/DexaApps.deps.json
bin/Release/netcoreapp2.2/DexaApps.dll
bin/Release/netcoreapp2.2/DexaApps.pdb
bin/Release/netcoreapp2.2/DexaApps.runtimeconfig.dev.json
bin/Release/netcoreapp2.2/DexaApps.runtimeconfig.json
bin/Release/netcoreapp2.2/DexaApps.Views.dll
bin/Release/netcoreapp2.2/DexaApps.Views.pdb
bin/Release/netcoreapp2.2/Properties/launchSettings.json
obj/Release/netcoreapp2.2/DexaApps.AssemblyInfo.cs
obj/Release/netcoreapp2.2/DexaApps.AssemblyInfoInputs.cache
obj/Release/netcoreapp2.2/DexaApps.assets.cache
obj/Release/netcoreapp2.2/DexaApps.csproj.CopyComplete
obj/Release/netcoreapp2.2/DexaApps.csproj.FileListAbsolute.txt
obj/Release/netcoreapp2.2/DexaApps.csprojAssemblyReference.cache
obj/Release/netcoreapp2.2/DexaApps.dll
obj/Release/netcoreapp2.2/DexaApps.pdb
obj/Release/netcoreapp2.2/DexaApps.RazorAssemblyInfo.cache
obj/Release/netcoreapp2.2/DexaApps.RazorAssemblyInfo.cs
obj/Release/netcoreapp2.2/DexaApps.RazorCoreGenerate.cache
obj/Release/netcoreapp2.2/DexaApps.RazorTargetAssemblyInfo.cache
obj/Release/netcoreapp2.2/DexaApps.RazorTargetAssemblyInfo.cs
obj/Release/netcoreapp2.2/DexaApps.TagHelpers.input.cache
obj/Release/netcoreapp2.2/DexaApps.TagHelpers.output.cache
obj/Release/netcoreapp2.2/DexaApps.Views.dll
obj/Release/netcoreapp2.2/DexaApps.Views.pdb
obj/Release/netcoreapp2.2/PubTmp/Out/appsettings.Development.json
obj/Release/netcoreapp2.2/PubTmp/Out/appsettings.json
obj/Release/netcoreapp2.2/PubTmp/Out/DexaApps.deps.json
obj/Release/netcoreapp2.2/PubTmp/Out/DexaApps.dll
obj/Release/netcoreapp2.2/PubTmp/Out/DexaApps.pdb
obj/Release/netcoreapp2.2/PubTmp/Out/DexaApps.runtimeconfig.json
obj/Release/netcoreapp2.2/PubTmp/Out/DexaApps.Views.dll
obj/Release/netcoreapp2.2/PubTmp/Out/DexaApps.Views.pdb
obj/Release/netcoreapp2.2/PubTmp/Out/dotnet-aspnet-codegenerator-design.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.CodeAnalysis.Workspaces.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.EntityFrameworkCore.Abstractions.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.EntityFrameworkCore.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.EntityFrameworkCore.Relational.Design.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.EntityFrameworkCore.Relational.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.EntityFrameworkCore.SqlServer.Design.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.EntityFrameworkCore.SqlServer.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
obj/Release/netcoreapp2.2/PubTmp/Out/NuGet.Frameworks.dll
obj/Release/netcoreapp2.2/PubTmp/Out/Remotion.Linq.dll
obj/Release/netcoreapp2.2/PubTmp/Out/System.Composition.AttributedModel.dll
obj/Release/netcoreapp2.2/PubTmp/Out/System.Composition.Convention.dll
obj/Release/netcoreapp2.2/PubTmp/Out/System.Composition.Hosting.dll
obj/Release/netcoreapp2.2/PubTmp/Out/System.Composition.Runtime.dll
obj/Release/netcoreapp2.2/PubTmp/Out/System.Composition.TypedParts.dll
obj/Release/netcoreapp2.2/PubTmp/Out/System.Data.SqlClient.dll
obj/Release/netcoreapp2.2/PubTmp/Out/System.Interactive.Async.dll
obj/Release/netcoreapp2.2/PubTmp/Out/System.Text.Encoding.CodePages.dll
obj/Release/netcoreapp2.2/PubTmp/Out/web.config
obj/Release/netcoreapp2.2/PubTmp/Out/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
obj/Release/netcoreapp2.2/PubTmp/Out/runtimes/win/lib/netcoreapp2.0/System.Text.Encoding.CodePages.dll
obj/Release/netcoreapp2.2/PubTmp/Out/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
obj/Release/netcoreapp2.2/PubTmp/Out/runtimes/win-arm64/native/sni.dll
obj/Release/netcoreapp2.2/PubTmp/Out/runtimes/win-x64/native/sni.dll
obj/Release/netcoreapp2.2/PubTmp/Out/runtimes/win-x86/native/sni.dll
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/favicon.ico
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/css/bootstrap.css
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/css/bootstrap.min.css
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/css/bootstrap_limitless.css
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/css/bootstrap_limitless.min.css
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/css/buttons.dataTables.min.css
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/css/colors.css
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/css/colors.min.css
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/css/components.css
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/css/components.min.css
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/css/jquery.dataTables.min.css
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/css/layout.css
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/css/layout.min.css
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/css/extras/animate.min.css
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/css/icons/icomoon/styles.css
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/css/icons/icomoon/fonts/icomoon.eot
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/css/icons/icomoon/fonts/icomoon.svg
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/css/icons/icomoon/fonts/icomoon.ttf
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/css/icons/icomoon/fonts/icomoon.woff
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/images/logo_dexagroup.png
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/images/logo_light.png
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/images/datatable/sort_asc.png
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/images/datatable/sort_asc_disabled.png
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/images/datatable/sort_both.png
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/images/datatable/sort_desc.png
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/images/datatable/sort_desc_disabled.png
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/demo_pages/datatables_responsive.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/demo_pages/form_select2.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/demo_pages/picker_date.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/main/bootstrap.bundle.min.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/main/jquery.min.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/forms/selects/bootstrap_multiselect.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/forms/selects/select2.min.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/loaders/blockui.min.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/anytime.min.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/daterangepicker.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/legacy.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/picker.date.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/picker.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/picker.time.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/ar.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/bg_BG.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/bs_BA.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/ca_ES.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/cs_CZ.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/da_DK.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/de_DE.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/el_GR.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/es_ES.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/et_EE.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/eu_ES.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/fi_FI.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/FORMATTING.md
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/fr_FR.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/gl_ES.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/he_IL.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/hr_HR.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/hu_HU.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/id_ID.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/is_IS.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/it_IT.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/ja_JP.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/ko_KR.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/NAMING.md
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/ne_NP.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/nl_NL.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/no_NO.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/pl_PL.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/pt_BR.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/pt_PT.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/ro_RO.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/ru_RU.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/sk_SK.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/sl_SI.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/sv_SE.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/th_TH.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/tr_TR.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/uk_UA.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/vi_VN.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/zh_CN.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/pickers/pickadate/translations/zh_TW.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/tables/datatables/datatables.min.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/tables/datatables/extensions/responsive.min.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/ui/ripple.min.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/ui/moment/moment.min.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/Assets/Global/js/plugins/ui/moment/moment_locales.min.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/css/site.css
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/js/site.js
obj/Release/netcoreapp2.2/PubTmp/Out/wwwroot/js/ClientJS/Customer_Create.js
obj/Release/netcoreapp2.2/Razor/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Areas/Identity/Pages/_ViewImports.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Areas/Identity/Pages/_ViewStart.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/_ViewImports.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/AccessDenied.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Lockout.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Login.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Logout.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Register.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/_Layout.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/_ViewImports.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/ChangePassword.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/Index.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/_ViewImports.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/_ViewStart.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/Customer/_ModalCreate.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/Customer/Create.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/Customer/Delete.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/Customer/Edit.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/Customer/Index.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/Home/Index.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/Outlet/Create.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/Outlet/Delete.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/Outlet/Edit.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/Outlet/Index.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Release/netcoreapp2.2/Razor/Views/Shared/Error.cshtml.g.cs
Properties/PublishProfiles/FolderProfile.pubxml
Properties/PublishProfiles/FolderProfile.pubxml.user
