@model DexaApps.Models.Outlets

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold text-primary"><i class="icon-location4 mr-1"></i> Create Outlet</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <form asp-action="Create">
            <div class="row pl-3">
                <div class="col-md-2 pb-0 mb-0">
                    <div class="form-group">
                        <label asp-for="OutletName" class="control-label font-weight-bold"></label>
                        <div class="input-group">
                            <input type="text" asp-for="OutletName" class="form-control" value="" placeholder="Outlet Name">
                        </div>
                        <span asp-validation-for="OutletName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-link"><i class="icon-backward mr-1"></i> Back to List</a>
                        <button type="submit" id="btn-save" class="btn bg-primary btn-labeled btn-labeled-left"><b><i class="icon-database-add"></i></b> SAVE</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
