@model DexaApps.Models.Outlets

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold text-danger"><i class="icon-location4 mr-1"></i> Remove Outlet</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <legend class="text-uppercase font-size-sm font-weight-bold">Are you sure you want to delete this ?</legend>
        <div class="row pl-3">
            <div class="col-md-2 pb-0 mb-0">
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="OutletID" class="control-label font-weight-bold"></label>
                    <div class="input-group">
                        <input type="text" asp-for="OutletID" class="form-control" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="OutletName" class="control-label font-weight-bold"></label>
                    <div class="input-group">
                        <input type="text" asp-for="OutletName" class="form-control" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="OutletID" />
                        <a asp-action="Index" class="btn btn-link"><i class="icon-backward mr-1"></i> Back to List</a>
                        <button type="submit" class="btn bg-danger btn-labeled btn-labeled-left"><b><i class="icon-database-remove"></i></b> DELETE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>