@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<!-- Content area -->
<div class="content d-flex justify-content-center align-items-center">

    <!-- Login form -->
    <form id="account" method="post">
        <div class="card mb-0">
            <div class="card-body">
                <div class="text-center mb-3">
                    <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                    <h5 class="mb-0">Login to your account</h5>
                    <span class="d-block text-muted">Your credentials</span>
                </div>
                <div class="form-group form-group-feedback form-group-feedback-left">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input asp-for="Input.UserName" type="text" class="form-control" placeholder="Username">
                    <div class="form-control-feedback">
                        <i class="icon-user text-muted"></i>
                    </div>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
                    <div class="form-control-feedback">
                        <i class="icon-lock2 text-muted"></i>
                    </div>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in <i class="icon-circle-right2 ml-2"></i></button>
                </div>

                <div class="form-group text-center text-muted content-divider">
                    <span class="px-2">Don't have an account?</span>
                </div>

                <div class="form-group">
                    <a asp-page="./Register" class="btn btn-light btn-block">Register</a>
                </div>

            </div>
        </div>
    </form>
    <!-- /login form -->

</div>
<!-- /content area -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
