@model List<DexaApps.Models.Customers>

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <h5 class="modal-title">Create Form List</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <section class="container">
                <div class="table table-responsive">
                    <form asp-action="Create" method="post">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <input class="form-control" />
                        </div>

                    </form>
                </div>
            </section>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            <button type="button" class="btn bg-primary">Save changes</button>
        </div>
    </div>
</div>

<script type="text/javascript">
   
</script>