@model List<Customers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title"><i class="icon-person mr-1"></i>Create Customer</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Create" class="form-inline">
            <div>
                <input type="text" name="CustomerName" placeholder="Customer Name" class="form-control mr-3" style="width:150px;" />
                <input type="text" name="Address" placeholder="Address" class="form-control mr-3" style="width:250px;" />
                <input type="text" name="Code" placeholder="Code" class="form-control mr-3" style="width:100px;" />
                <input name="StartDate" type="text" class="form-control daterange-single" value="" />
                <input name="EndDate" type="text" class="form-control daterange-single" value="" />
                <select name="OutletID" class="form-control">
                    <option value="">Select Outlet</option>
                    @foreach (var item in ViewBag.OutletList)
                    {
                        <option value="@item.OutletID">@item.OutletName</option>
                    }
                </select>


                <button type="button" id="btn-add" class="btn btn-success ml-2"><i class="icon-plus22 mr-2"></i>Add</button>
            </div>

            <hr />
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center font-weight-bold">
                        <th>Customer Name</th>
                        <th>Address</th>
                        <th>Code</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Outlet</th>
                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody id="tbody-create">
                </tbody>
            </table>
            <button type="submit" id="btn-save" class="btn btn-primary ml-2 d-none"><i class="icon-database-add mr-2"></i>Save</button>
        </form>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var flag = 0;

            $("#btn-add").on("click", function () {
                var _customername = $('input[name="CustomerName"]').val();
                var _address = $('input[name="Address"]').val();
                var _code = $('input[name="Code"]').val();
                var _startdate = $('input[name="StartDate"]').val();
                var _endate = $('input[name="EndDate"]').val();
                var _outletid = $('input[name="OutletID"]').val();

                var _input_customername = '<input type="text" name="item[' + flag + '].CustomerName" class="form-control border-0 py-0" value="' + _customername + '" readonly />';
                var _input_address = '<input type="text" name="item[' + flag + '].Address" class="form-control border-0 py-0" value="' + _address + '" readonly />';
                var _input_code = '<input type="text" name="item[' + flag + '].Code" class="form-control border-0 py-0" value="' + _code + '" readonly />';
                var _input_startdate = '<input type="text" name="item[' + flag + '].StartDate" class="form-control border-0 py-0" value="' + _startdate + '" readonly />';
                var _input_enddate = '<input type="text" name="item[' + flag + '].EndDate" class="form-control border-0 py-0" value="' + _endate + '" readonly />';
                var _input_outletid = '<input type="text" name="item[' + flag + '].OutletID" class="form-control border-0 py-0" value="' + _outletid + '" readonly />';

                var _tr = '<tr id=' + flag + '><td>' + _input_customername + '</td>' +
                    '</td><td>' + _input_address + '</input>' +
                    '</td><td>' + _input_code + '</input>' +
                    '</td><td>' + _input_startdate + '</input>' +
                    '</td><td>' + _input_enddate + '</input>' +
                    '</td><td>' + _input_outletid + '</input>' +
                    //'</td><td><button type="button" class="btn btn-danger btn-delete"><i class="icon-trash"></i></button></input>' +
                    '</td></tr>'


                ss
                if (_customername != "" && _outletid != "") {
                    $("#tbody-create").append(_tr);
                    $("#btn-save").removeClass("d-none");
                    reset();
                    flag++;
                }
            });

            function reset() {
                $('input[name="CustomerName"]').val('');
                $('input[name="Address"]').val('');
                $('input[name="Code"]').val('');
                $('input[name="StartDate"]').val('');
                $('input[name="EndDate"]').val('');
                $('input[name="OutletID"]').val('');
            }

        });
    </script>
}
