@*@model List<Customers>*@
@model CustomerViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold text-primary"><i class="icon-stack2 mr-1"></i> Create Customer</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div class="row pl-3">
                <div class="col-md-2 pb-0 mb-0">
                    <div class="form-group">
                        <label asp-for="Customers.CustomerID" class="font-weight-semibold">Customer ID</label>
                        <div class="input-group">
                            <input asp-for="Customers.CustomerID" type="text" name="CustomerID" class="form-control onlynumber" value="" placeholder="Customer ID">
                        </div>
                        <span asp-validation-for="Customers.CustomerID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2 pb-0 mb-0">
                    <div class="form-group">
                        <label asp-for="Customers.CustomerName" class="font-weight-semibold">Customer Name</label>
                        <div class="input-group">
                            <input asp-for="Customers.CustomerName" type="text" name="CustomerName" class="form-control" value="" placeholder="Customer Name">
                        </div>
                        <span asp-validation-for="Customers.CustomerID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2 pb-0 mb-0">
                    <div class="form-group">
                        <label asp-for="Customers.Code" class="font-weight-semibold">Code</label>
                        <div class="input-group">
                            <input asp-for="Customers.Code" type="text" name="Code" value="" class="form-control" placeholder="Code">
                        </div>
                        <span asp-validation-for="Customers.Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2 pb-0 mb-0">
                    <div class="form-group">
                        <label asp-for="Customers.StartDate" class="d-block font-weight-semibold">Start Date</label>
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-calendar22"></i></span>
                            </span>
                            <input asp-for="Customers.StartDate" type="text" name="StartDate" class="form-control daterange-single" value="" placeholder="Start Date">
                        </div>
                        <span asp-validation-for="Customers.StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2 pb-0 mb-0">
                    <div class="form-group">
                        <label asp-for="Customers.EndDate" class="font-weight-semibold">End Date</label>
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-calendar22"></i></span>
                            </span>
                            <input asp-for="Customers.EndDate" type="text" name="EndDate" class="form-control daterange-single" value="" placeholder="End Date">
                        </div>
                        <span asp-validation-for="Customers.EndDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2 pb-0 mb-0 mt-3 pt-2">
                    <div class="form-group float-left">
                        <div class="input-group">
                            <div class="btn-group btn-group-toggle">
                                <button type="button" id="btn-add" class="btn bg-success btn-labeled btn-labeled-left"><b><i class="icon-plus-circle2"></i></b> ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pl-3">
                <div class="col-md-6 pb-0 mb-0">
                    <div class="form-group">
                        <label class="font-weight-semibold">Address </label>
                        <div class="input-group">
                            <input type="text" name="Address" class="form-control" value="" placeholder="Address">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pb-0 mb-0">
                    <div class="form-group">
                        <label class="font-weight-semibold">Outlet Name</label>
                        <select id="select_type" name="OutletID" class="form-control select" asp-items="@(new SelectList(Model.ListOutlets, "OutletID", "OutletName"))" data-fouc>
                            <option value="">Select a Outlet</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 pb-0 mb-0 mt-3 pt-2">
                    <div class="form-group float-left">
                        <div class="input-group">
                            <div class="btn-group btn-group-toggle">
                                <button type="submit" id="btn-save" class="btn bg-primary btn-labeled btn-labeled-left d-none"><b><i class="icon-database-add"></i></b> SAVE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr class="text-center font-weight-bold">
                        <th>Customer ID</th>
                        <th>Customer Name</th>
                        <th>Address</th>
                        <th>Code</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Outlet</th>
                    </tr>
                </thead>
                <tbody id="tbody-create">
                    <!-- Body Table Area -->
                </tbody>
            </table>
        </form>
    </div>
</div>

<script src="~/js/ClientJS/Customer_Create.js"></script>
